@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
}

.nav-menu {
  @apply py-1 cursor-pointer text-xl transition-all ease-in-out duration-300 font-bold relative;
}
.nav-btn {
  @apply py-2 px-4 text-xl cursor-pointer rounded-md text-white bg-[#85082b] hover:bg-[#c90f43] active:scale-95 transition-all ease-in-out duration-200 font-bold;
}

.nav-menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.nav-menu:hover::after {
  width: 100%;
}

.footer {
  background: #dddddd;
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 1.6;
}

.footer a {
  color: #0462c1;
  text-decoration: underline;
}

.footer a:hover {
  color: #6192c3;
}
