<header class="bg-[#f5e7b8] px-2 py-4">
  <div class="flex gap-5 items-center justify-between container mx-auto">
    <img src="/images/segmite.webp" alt="Segmite Logo" class="size-30" />
    <nav class="flex gap-2 items-center">
      <a class="text-lg font-semibold capitalize" href="#">Brief Profile</a>
      <a class="text-lg font-semibold capitalize" href="#">IJEEG</a>
      <a class="text-lg font-semibold capitalize" href="#">SEGMITE Events</a>
      <a class="text-lg font-semibold capitalize" href="/segmite-membership-form"
        >SEGMITE MEMBERSHIP FORM</a
      >
    </nav>
  </div>
</header>
