<div class="w-60 shrink-0 p-4 rounded-sm bg-white">
  <img
    src="/images/logo.webp"
    alt="Committee"
    class="size-40 rounded-full object-cover object-center mx-auto"
  />
  <p class="mt-2 capitalize font-extralight text-lg text-center text-[#333]">
    Committee Member Full Name
  </p>
</div>
